<!DOCTYPE html>
<html>
    <body>

        <form method="POST" action="/transaction_create">
            <p>Description <input type="text" name="description"></p>
            <p>Category</p>
            <select name="category">
                <option> Travelling</option>
                <option> Entertainment</option>
                <option> Groceries</option>
            </select>
            <p>Amount <input type="text" name="amount"></p>
            <input type="submit" value="Submit Form">
        </form>
        <p>Finance tracker</p>
        <table>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction.created_on}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.category}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>